<div class="mx-auto max-w-4xl flex-1 space-y-6 w-full text-fuchsia-300">
    <div class="space-y-4 rounded-lg p-4" style="background-color: #161215">
        <p class="text-xl font-semibold">Order summary</p>
        <div class="space-y-4">
            <div class="space-y-2">
                <dl class="flex items-center justify-between gap-4">
                    <dt class="font-medium">Subtotal</dt>
                    <dd class="font-medium text-white">
                        {{ carService.totals()?.subtotal | currency}}
                    </dd>
                </dl>
                <dl class="flex items-center justify-between gap-4">
                    <dt class="font-medium">Discount</dt>
                    <dd class="font-medium text-white">
                        {{ carService.totals()?.discount | currency}}
                    </dd>
                </dl>
            </div>

            <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2">
                <dt class="font-medium">Total</dt>
                <dd class="font-medium text-white">
                    {{ carService.totals()?.total | currency }}
                </dd>
            </dl>
        </div>

        <!-- @if (location.path() !== '/checkout') {
            <div class="flex flex-col gap-2">
                <button routerLink="/checkout" mat-flat-button>Checkout</button>
                <button routerLink="/shop" mat-button>Continue Shopping</button>
            </div>   
        } -->
     

    </div>

</div>
