@if (event) {
<a
  href="#"
  class="flex items-start p-1 rounded-lg text-fuchsia-300 border-2 custom-border custom-border-hover min-h-64"
>
  <img
    class="object-cover h-auto md:w-64 rounded-s-lg"
    src="/placeholder.JPG"
    alt=""
  />
  <div class="flex flex-col justify-between p-4 font-normal">
    <div class="flex items-start">
      <h5 class="mb-2 text-2xl font-bold tracking-tight">
        {{ event.name }}
      </h5>
      <p class="ml-4">
        @for (category of event.categories; track category) {
          <mat-chip class="mr-2">{{ category }}</mat-chip>

        }
      </p>
    </div>
    <div class="flex items-start mb-3">
      <mat-icon class="mr-1">schedule</mat-icon
      >{{ event.date | date : "shortTime" }}
      <mat-icon class="mr-1 ml-4">calendar_today</mat-icon
      >{{ event.date | date : "fullDate" }}
    </div>
    <div class="flex items-start mb-3">
      <mat-icon class="mr-1">room</mat-icon>{{ event.venue.name }}
      <mat-icon class="mx-1">person</mat-icon>Capacity: {{ event.venue.capacity }}
    </div>
    <div class="flex items-start mb-6">
      <mat-icon class="mr-1">map</mat-icon>{{ event.venue.address | address }}
    </div>
    <div class="flex items-center">
      Tickets starting at: 49 USD
      <a mat-stroked-button class="ml-4" routerLink="/event/{{event.id}}">Buy</a>
    </div>
  </div>
</a>
}
