@if (event) {
<section class="pt-8 text-fuchsia-300">
  <div class="max-w-screen-2xl px-4 mx-auto">
    <div class="grid grid-cols-2 gap-8">
      <div class="max-w-xl mx-auto">
        <img
          class="w-full rounded-lg"
          src="/placeholder.JPG"
          alt="product image"
        />
      </div>

      <div>
        <h1 class="text-3xl font-bold">{{ event.name }}</h1>

        <mat-divider></mat-divider>

        <div class="flex flex-col mt-2">
          @for (ticket of event.tickets; track ticket.id) {
          <div class="mt-1 flex items-center">
            <p class="text-xl font-semibold">
              {{ ticket.ticketType }} ticket:
              {{ ticket.price | currency : "USD" }}
            </p>
          </div>

          <div class="flex items-start gap-3 mt-2">
            <button mat-flat-button>
              <mat-icon>add_circle</mat-icon>
              <p>Add</p>
            </button>

            <mat-form-field appearance="outline">
              <mat-label>Ticket left: {{ ticket.ticketsAvailable }}</mat-label>
              <input
                matInput
                min="0"
                step="1"
                type="number"
                placeholder="Quantity"
              />
            </mat-form-field>
            <button mat-flat-button>
              <mat-icon>remove_circle</mat-icon>
              <p>Remove</p>
            </button>

            <button class="ml-6" mat-flat-button>
              <mat-icon>add_shopping_cart</mat-icon>
              <p>Add to cart</p>
            </button>
          </div>
          }
        </div>

        <mat-divider></mat-divider>

        <div class="my-6">
          <p class="text-2xl font-semibold">About</p>
          <p class="mt-2">{{ event.description }}</p>
        </div>

        <mat-divider></mat-divider>

        <div class="my-6">
          <p class="text-2xl font-semibold">Localization</p>
          <div class="flex flex-col font-normal mt-6">
            <div class="flex items-start mb-3">
              <mat-icon class="mr-1">schedule</mat-icon>
              {{ event.date | date : "shortTime" }}
              <mat-icon class="mr-1 ml-4">calendar_today</mat-icon>
              {{ event.date | date : "fullDate" }}
            </div>
            <div class="flex items-start mb-3">
              <mat-icon class="mr-1">room</mat-icon>{{ event.venue.name }}
              <mat-icon class="ml-4 mr-1">person</mat-icon>Capacity:
              {{ event.venue.capacity }}
            </div>
            <div class="flex items-start mb-6">
              <mat-icon class="mr-1">map</mat-icon>
              {{ event.venue.address | address }}
            </div>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div class="mt-6">
          <p class="text-2xl font-semibold">Event organizer</p>
          @for (organizer of event.organizers; track organizer.id) {
          <div class="flex items-start font-normal mt-6">
            <mat-icon class="mr-1">domain</mat-icon>{{ organizer.name }}
            <mat-icon class="ml-4 mr-1">contact_mail</mat-icon>
            {{ organizer.contactInfo }}
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
}
