@use "tailwindcss" as *;
@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */
.container {
    @apply mx-auto max-w-screen-2xl;
}

.card-color {
    background-color: #614e5d;
}

.custom-border {
    border-color: #9a8d95;
}

.custom-border-hover:hover {
    border-color: #ffffff;
}

.mdc-notched-outline__notch { 
    border-right: none; 
}