
@if (eventList && pagination) {
    <div class="flex justify-between mb-6">
        <mat-paginator
            class="bg-white"
            (page)="handlePageEvent($event)"
            [length]="pagination.totalItems"
            [pageSize]="eventParams.pageSize"
            [showFirstLastButtons]="true"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="eventParams.pageNumber - 1"
            aria-label="Select page"
        ></mat-paginator>
    </div>

<div class="flex flex-col gap-4">
    <div class="grid grid-cols-2 gap-6">
        @for (event of eventList; track event.id) {
            <app-event-item [event]="event"></app-event-item>
        }
    </div>
</div>
} @else {
    Not found
}