@if (eventList && pagination) {
<div class="flex justify-between items-center mb-6">
  <mat-paginator
    class="border-1 rounded-lg"
    (page)="handlePageEvent($event)"
    [length]="pagination.totalItems"
    [pageSize]="eventParams.pageSize"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="eventParams.pageNumber - 1"
    aria-label="Select page"
  ></mat-paginator>
  <form
    #searchForm="ngForm"
    (ngSubmit)="onSearchChange()"
    class="relative flex items-center w-full max-w-md mx-4"
  >
    <input
      style="background-color: #161215;"
      type="search"
      class="block w-full p-4.5 text-sm text-white border border-gray-300 rounded-lg"
      placeholder="Search"
      name="search"
      [(ngModel)]="eventParams.search" />
    />
    <button
      mat-icon-button
      type="submit"
      class="absolute inset-y-0 right-8 top-1 flex items-center pl-3.5"
    >
      <mat-icon style="color: white">search</mat-icon>
    </button>
  </form>

  <div class="flex gap-3">
    <button mat-stroked-button (click)="openFiltersDialog()">
      <mat-icon>filter_list</mat-icon>
      Filters
    </button>
    <button mat-stroked-button [matMenuTriggerFor]="sortMenu">
      <mat-icon>swap_vert</mat-icon>
      Sort
    </button>
    <button mat-stroked-button (click)="resetParams()">
      Reset
    </button>
  </div>
</div>

<!-- <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="datepicker" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field> -->

<div class="flex flex-col gap-4">
  <div class="grid grid-cols-2 gap-6">
    @for (event of eventList; track event.id) {
      <app-event-item [event]="event"></app-event-item>
    }
  </div>
</div>

<mat-menu #sortMenu="matMenu">
  <mat-selection-list
    [multiple]="false"
    (selectionChange)="onSortChange($event)"
  >
    @for (sort of sortOptions; track $index) {
    <mat-list-option
      [value]="sort.value"
      [selected]="eventParams.orderBy === sort.value"
    >
      {{ sort.name }}
    </mat-list-option>
    }
  </mat-selection-list>
</mat-menu>
} @else { Not found }
