<div class="flex flex-col gap-4">
    <div class="grid grid-cols-2 gap-6">
        <app-event-item></app-event-item>
        <app-event-item></app-event-item>
        <app-event-item></app-event-item>
        <app-event-item></app-event-item>
        <app-event-item></app-event-item>
        <app-event-item></app-event-item>
        <app-event-item></app-event-item>
        <app-event-item></app-event-item>
        <app-event-item></app-event-item>
        <app-event-item></app-event-item>
        <app-event-item></app-event-item>
        <app-event-item></app-event-item>
    </div>
</div>